<div id="heading">
  <br>
<h1>&nbsp;Your Summary</h1>
<br>
</div><br><br>

<div id="summaryPage">
<h2>&nbsp;Comments</h2>

<table>
  <thead>
    <tr>
      <th>Restaurant</th>
      <th>Comment</th>
    </tr>
  </thead>
  <tbody>
    <% @user.comments.each do |comment| %>
      <tr>
        <td><%= link_to comment.restaurant.name, restaurant_path(comment.restaurant) %></td>
        <td><%= comment.body %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br><br>
<div id="summaryPage">
<h2>&nbsp;Votes</h2>
<table>
  <thead>
    <tr>
      <th>Restaurant</th>
      <th>Vote</th>
    </tr>
  </thead>
  <tbody>
    <% @user.votes.each do |vote| %>
      <tr>
        <td><%= link_to vote.restaurant.name, restaurant_path(vote.restaurant) %></td>
        <td><%= vote.will_split? ? 'Will Split' : 'Won\'t Split' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br><br>
<div id="summaryPage">
<h2>&nbsp;Favorites</h2>
<section>
  <ul>
    <% @user.favorites.each do |favorite| %>
      <li><%= link_to favorite.restaurant.name, restaurant_path(favorite.restaurant) %></li>
    <% end %>
  </ul>
</section>
</div>

<br><div><%= button_to 'List all Restaurants' , restaurants_path, method: 'get', class: 'search-button' %></div>
