<div id="heading">
  <br>
  <div class="header">
    <h1> &nbsp; Log In</h1>
  </div>
  <br>
</div>
<br>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Login", class: "search-button" %>
  </div>
<% end %>
<br><br>
<%= button_to 'List all Restaurants' , restaurants_path, method: 'get', class: 'search-button' %>

<%= render "devise/shared/links" %>
