<p id="notice"><%= notice %></p>

<h1>Restaurants</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th>Will Split</th>
      <th>Will Not Split</th>

    </tr>
  </thead>

  <tbody>
    <% @restaurants.each do |restaurant| %>
      <tr>
        <td> <h4><%= restaurant.name %></h4> </td>
        <td><%= restaurant.location %></td>
        <td>
          <%= restaurant.will_split %>
          <%= button_to 'Vote "Will Split"'%>
        </td>
        <td>
          <%= restaurant.will_not_split %>
          <%= button_to 'Vote "Won\'t Split"'%>
        </td>
        <td>
          <ul><li><%= link_to 'Show Details', restaurant %></li>
          <li><%= link_to 'Edit', edit_restaurant_path(restaurant) %></li>
          <li><%= link_to 'Delete', restaurant, method: :delete, data: { confirm: 'Are you sure?' } %> </li>
          </ul>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Restaurant', new_restaurant_path %>
