<p id="notice"><%= notice %></p>
<div id="heading">
  <br>
  <div class="header">
    <h1> &nbsp; Restaurants</h1>
  <div class="header-login">
    <% if user_signed_in? %>
        <span><%= current_user.username %> <%= button_to 'Logout', destroy_user_session_path, method: :delete, class: 'login-button' %></span>
      <% else %>
        <span><%= button_to 'Login', new_user_session_path, method: 'get', class: 'login-button' %>
          <%# <%= button_to 'Register', new_user_registration_path, method: 'get' %></span>
      <% end %>
  </div>

  </div>
  <br>
</div>
<% if (@restaurants.nil? || @restaurants.empty?) %>
<div>
  <p>
    <% if Restaurant.all.empty? %>
    <strong>There are no restaurants in the table yet. Please add one.</strong>
    <% else %>
    <br><strong>No restaurants match the search query. <a href=<%= restaurants_url %>>Show All Restaurants</a></strong>
    <% end %>
  </p>
</div>
<% else %>
<table id="restaurants"><br>
  <thead>
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th>Will Split</th>
      <th>Will Not Split</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @restaurants.each do |restaurant| %>
    <tr>
      <td> <h4><%= restaurant.name %></h4> </td>
      <td><%= restaurant.location %></td>
      <td>
        <strong><%= restaurant.get_will_split_votes %></strong>
        <% if user_signed_in? %>
        <%= button_to 'Vote "Will Split"', votes_path(user_id: current_user, restaurant_id: restaurant, will_split?: true), class: 'will-split-button' %>
        <% end %>
      </td>
      <td>
        <strong><%= restaurant.get_will_not_split_votes %></strong>
        <% if user_signed_in? %>
        <%= button_to 'Vote "Won\'t Split"', votes_path(user_id: current_user, restaurant_id: restaurant, will_split?: false), class: 'will-not-split-button'%>
        <% end %>
      </td>
      <td>
        <ul id = "unorderedList">
          <li id = "unorderedList"><%= link_to 'Show Details', restaurant %></li>
          <% if user_signed_in? %>
          <li>&nbsp;</li>
          <li id = "unorderedList"><%= link_to 'Edit Restaurant', edit_restaurant_path(restaurant) %></li>
          <% end %>
          <!-- <li><%= link_to 'Delete', restaurant, method: :delete, data: { confirm: 'Are you sure?' } %> </li> -->
        </ul>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<br><hr><br>

<section>
  <div id="heading">
    <br>
    <h1> &nbsp; Search for Restaurant</h1>
    <br>
  </div>
  <br>
  <%= form_with id: 'search-form', url: '/search', method: :get do |form| %>
  <div class="form-group">
    <h3><strong><%= form.label :query_name, 'Name:' %></strong></h3>
    <%= form.text_field :query_name %>
  </div>
  <div class="form-group">
    <h3><strong><%= form.label :query_location, 'Location:' %></strong><h3>
    <%= form.text_field :query_location %>
  </div>
  <br>
  <div class="form-group">
    <%= form.submit 'Search', disabled: Restaurant.all.empty?, class: 'search-button' %>
  </div>
  <% end %>
  <br><div class="line"></div>
<div style="display:inline-block;"><strong>OR</strong></div>
<div class="line"></div><br>
  <br><div><%= button_to 'List all Restaurants' , restaurants_path, method: 'get', class: 'search-button' %></div>
</section> <br><hr><br>
<section id="add-restaurant-section">
<% if user_signed_in? %>
  <h3><strong>Is a restaurant missing from this list?</strong></h3>
  <div><%= button_to 'Add new Restaurant' , new_restaurant_path, method: 'get', class: 'search-button' %></div>
  <% else %>
  <h2>Please Login to add a new Restaurant</h2>
  <% end %>
</section>
