<p id="notice"><%= notice %></p>

<h1>Restaurants</h1>
<% if (@restaurants.nil? || @restaurants.empty?) %>
<div class="card">
  <p>

    <% if Restaurant.all.empty? %>
    <strong>There are no restaurants in the table yet. Please add one.</strong>
    <% else %>
    <strong>No restaurants match the search query. <a href=<%= restaurants_url %>>Show All Restaurants</a></strong>
    <% end %>
  </p>
</div>
<% else %>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th>Will Split</th>
      <th>Will Not Split</th>

    </tr>
  </thead>

  <tbody>
    <% @restaurants.each do |restaurant| %>
    <tr>
      <td> <h4><%= restaurant.name %></h4> </td>
      <td><%= restaurant.location %></td>
      <td>
        <%= restaurant.will_split %>
        <%= button_to 'Vote "Will Split"', vote_will_split_path(restaurant), action: :vote_will_split, class: 'will-split-button' %>
      </td>
      <td>
        <%= restaurant.will_not_split %>
        <%= button_to 'Vote "Won\'t Split"', vote_will_not_split_path(restaurant), action: :vote_will_not_split, class: 'wont-split-button'%>
      </td>
      <td>
        <ul><li><%= link_to 'Show Details', restaurant %></li>
          <li><%= link_to 'Edit', edit_restaurant_path(restaurant) %></li>
          <!-- <li><%= link_to 'Delete', restaurant, method: :delete, data: { confirm: 'Are you sure?' } %> </li> -->
        </ul>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<br>



<section>
  <h2>Find a Restaurant</h2>
  <%= form_with id: 'search-form', url: '/search', method: :get do |form| %>
  <div class="form-group">
    <%= form.label :query_name, 'Name:' %>
    <%= form.text_field :query_name %>
  </div>
  <div class="form-group">
    <%= form.label :query_location, 'Location:' %>
    <%= form.text_field :query_location %>
  </div>
  <br>
  <div class="form-group">
    <%= form.submit 'Search', disabled: Restaurant.all.empty? %>
  </div>
  <% end %>
</section> <br>
<section id="add-restaurant-section">
  Is a restaurant missing from this list?
  <%= button_to 'Add a Restaurant', new_restaurant_path, method: 'get' %>
</section>
