<p id="notice"><%= notice %></p>


<h1 id = "heading"> <br>&nbsp;Details of Restaurant<br><br></h1>
<div id="showPage">
  <br>&nbsp;<strong>Name:</strong>
  <%= @restaurant.name %><br><br>



  &nbsp;<strong>Location:</strong>
  <%= @restaurant.location %><br><br>



  &nbsp;<strong>Will split bill votes:</strong>
  <%= @restaurant.get_will_split_votes %><br><br>



  &nbsp;<strong>Will not split bill votes:</strong>
  <%= @restaurant.get_will_not_split_votes %><br><br>

</div>
<br><br>
<% if user_signed_in? %>
<%= button_to 'Edit', edit_restaurant_path(@restaurant), method: 'get', class: 'search-button' %>
<% else %>
<h2>Please Login to Edit Restaurant</h2>
<% end %>
<%= button_to 'Show all Restaurants', restaurants_path, method: 'get', class: 'search-button' %>
